<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GeneracionPin_Str"
      connectionString="fNS2TWSzeViUHLMMk8llh/dcysjPGLWQuOwEzto8pxej9KkO5vHT93Iy3WJdlLVYcleQvl1X3DiiV0Q8C4xXQS1D0UvNI037n10FKhLRgiCdh0RhKADMO8SuZoW9LYK3WxaKo6WdkHRSq36SIuQ3ANK3TJmzkcXzeJpyN2xc0my3rkNwjkePDB5I3wnp8/0HYYiEFnzRTHEdZwMFU4JrtEbCr3Ce4++cad+38YoUEv7F3oCCQnIIDwzds3bzOBoVRVlweBnooyx0irmfAdvO/NgGBCZu7iMBvy0nzTh5vhK4Qz+xrLXf8WiNfCpQtSpmCvi4U9HMzSU7FZ3CL0ihXxEHmXaWYbIGjfUmPDG1XZEBYqnTIiYQqTpyafQsSPoG"/>
  </connectionStrings>
  <appSettings>
    <add key="USUARIONOTIFICACION" value="user433"/>
    <add key="PASSWORDNOTIFICACION" value="password434"/>
    <add key="EMAILNOTIFICACION" value="http://172.24.232.150:8010/Notification/V2.0/Rest/PutMessage"/>
    <add key="PROFILEIDSMTP" value="SMTP_FS_TCRM1"/>
    <add key="PROFILEIDSMS" value="SMS_FS_TCRM1"/>
    <add key="COMMUNICATIONORIGIN" value="TCRM"/>
    <!-- Este atributo debe estar configurado en 2 para el registro de log de PIN-->
    <add key="LEVELLOG" value="2"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <qualifyAssembly partialName="Oracle.DataAccess" fullName="Oracle.DataAccess, Version=4.122.19.1 Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        <bindingRedirect oldVersion="0.0.0.0-4.122.19.1" newVersion="4.122.19.1"/>
      </dependentAssembly>
      <qualifyAssembly partialName="Oracle.DataAccess" fullName="Oracle.DataAccess, Version=4.122.19.1 Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: DAFF3C56-2703-4E09-BC0D-1A48C6493478-->